langgraph
langchain
langsmith
python-dotenv
langchain-groq
langchain-tavily
langgraph-cli[inmem]


pymupdf
langchain
langchain-core
langchain-community
transformers
torch
Pillow
scikit-learn
faiss-cpu
numpy